table{
    border:1px solid black;
    width:80%;
}
tr{
    text-align: center;
}
table th {
border-left: 1px solid #000;
border-right: 1px solid #000;
border-collapse: collapse;
}

table th:first-child {
    border-left: none;
}

table th:last-child {
    border-right: none;
}

.table-list{

    display:flex;
    width:80%;
    gap:20px;

}




*{
    
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#header{
    position: fixed;
    z-index: 999;
    height: 7.5vh;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);

}
.header-text{
    font-weight: 500;
    font-size: 1.2rem;
}

#intro{
    color:white;
    height: 100vh;
    display:flex;
    justify-content: space-around;
    padding: 20% 10%;
    box-sizing: border-box;
    background: rgb(34,193,195);
    background: linear-gradient(128deg, rgba(34,193,195,1) 0%, rgba(253,45,135,1) 100%);
} 


#intro ul{
    margin-left: 1rem;
    margin-top: 1rem;
}
#intro ul li{
  padding-left: 0.5rem;
}
#intro ul li::marker{
  content:">";
}
    
div.cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform:rotate3d(1, 1, 1, 45deg);
  }
  
div[class*='cube-']{
  width: 200px;
  height: 200px;
  background: skyblue;
  background: linear-gradient(128deg, rgba(34,193,195,1) 0%, rgba(253,45,135,1) 80%);
  border: 2px solid black;
  position: absolute;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 500ms;
}

.cube-front {
  transform: translateZ(100px);
}
.cube-back {
  transform: translateZ(-100px) rotateY(180deg);
}
.cube-left {
  transform: translateX(-100px) rotateY(-90deg);
}
.cube-right {
  transform: translateX(100px) rotateY(90deg);
}
.cube-top {
  transform: translateY(-100px) rotateX(90deg);
}
.cube-bottom {
  transform: translateY(100px) rotateX(-90deg);
}

  @media screen and (max-width:1200px) {
    #intro{
      flex-direction: column-reverse;
      padding: 5% 10%;
      align-items: center;
    }
  }